:root {
    --body: white;
    --c1: white;
    --c2: white;
    --bg1: #005696;
    --bg2: #338ED3;
    --bgt1: rgba(0, 85, 150, 0.5);
    --bgt2: rgba(51, 142, 211, 0.5);
    --font: 'v', sans-serif;
    --border: .1em;
    --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08)
}

body {
    font-family: var(--font);
}
section{box-shadow:var(--box-shadow);padding:20px 0}
a {
    color: var(--bg1);
}

.text-highlight {
    color: var(--bg1);
}

[youtube]>iframe {
    display: none
}

[youtube]>iframe[src] {
    display: block
}

[youtube] {
    background-size: cover;
    background-position: center;
    background-color: var(--bg2);
}

[youtube]::before {
    content: "İZLE";
    position: absolute;
    width: 100px;
    top: calc(50% - 25px);
    left: calc(50% - 50px);
    background: red;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: .75em;
    opacity: .6em;
    border-radius: 10px;
}

section {
    border-bottom: 2px solid #e6ebed;
}

header {
    position: fixed;
    width: 100%;
    min-height: 80px;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

header>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0
}

header i {
    font-size: 50px
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none
}

header ul>li {
    margin: 5px 10px
}

header {
    font-size: 16px;
}

header i {
    font-size: 50px;
}

header #header-menu {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap
}

.row-centered {
    justify-content: center
}

.ikon {
    background: var(--bg1);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ikon2 {
    background: var(--bg2);
    display: flex;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ikon3 {
    width: 50px;
    height: 50px;
    margin-right: 4px;
    border-radius: 25px;
    padding-left: 3px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.ikon2:hover .ikon3 {
    background: var(--bg2);
}

.ikon2:hover {
    background: var(--bg1);
}

a.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.head-bottom{
    display: none;
    width: 100%;
    height: 60px;
    background: #338ED3;
    box-shadow: 0px 7px 30px -12px rgba(0,0,0,0.5);
    font-size: 20px;
    float: right;
    z-index:1;
}
.head-bottom>a{
    color: white;
    line-height: 3em;
}
.head-bottom>a>div>img{
    position: relative;
    transform: scale(0.5);
    z-index: 2;
}
.head-bottom>a{
    color:white;
    line-height: 3em;
}
.head-bottom>a>span{
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    top:0;
    color: #FFF;
    font-size: 1.2em;
    border-left: 20px solid transparent;
    border-bottom: 60px solid #005696;
}
.cont-main{
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
}
.c1{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background-color: #fff;
    opacity: 0.3;
    z-index: 0;
    border-radius: 50%;
    animation: animation_circle_1 3s infinite;
    animation-direction: alternate;
    transform: scale(0);
}
.c2{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 128px;
    height: 128px;
    background-color: #fff;
    opacity: 0.2;
    z-index: 0;
    border-radius: 50%;
    animation: animation_circle_1 3s infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
    transform: scale(0);
}
.c3{
    position: absolute;
    top: -60px;
    left: -60px;
    width: 192px;
    height: 192px;
    background-color: #fff;
    opacity: 0.1;
    z-index: 0;
    border-radius: 50%;
    animation: animation_circle_1 3s infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    transform: scale(0);
}
.c4{
    position: absolute;
    top: -90px;
    left: -90px;
    width: 256px;
    height: 256px;
    background-color: #fff;
    opacity: 0.1;
    z-index: 0;
    border-radius: 50%;
    animation: animation_circle_1 3s infinite;
    animation-direction: alternate;
    animation-delay: 1.5s;
    transform: scale(0);
    -webkit-animation: animation_circle_1 3s infinite;
}
.h3-h{
    padding-bottom: 20px;
    text-align:center
}
@-webkit-keyframes animation_circle_1 {
    from { transform: scale(0);   }
    to { transform: scale(1); }
  }
  @-o-keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  @-moz-keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  @keyframes animation_circle_1 {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
body>content {
    display: block;
    grid-area: content;
    padding-top: 80px;
    padding-bottom: 10px;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.profile2 {
    display: block;
    padding: 10px;
    text-align: center;
    background-position: center center;
}

.profile2 img {
    width: 265px;
    height: 305px;
    border-radius: 7px;
}

.profile2 small {
    font-size: 11px;
    line-height: inherit;
}

.profile2 p {
    font-size: 16px;
    line-height: 0.1;
    margin-bottom: 1rem;
    margin-top: 2em;
    text-rendering: optimizeLegibility;
    font-weight: 550;
}

.number-con {
    text-align: center
}
.number-con li{
    font-size: 16px;
    
}

.collapsible {
    background-color: white;
    color: var(--bg1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: white;
}
.collapsible>i{
    transition-duration: 0.3s;
    transition-property: transform; 
}
.que-cont {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border: 2px solid #ececec;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: solid 2px white;
    background-color: #ececec;
    font-size: 20px;
    margin-top: 20px;
}

input[type=submit],.btn {
    min-width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    background-color: var(--bg1);
    border: none;
}

input[type=submit]:hover, .btn:hover {
    background: #fff;
    border: 2px solid var(--bg1);
    color: var(--bg1);
}
.btn,.btn-w{
    width: 190px;
    text-align: center;
    font-weight:600;
    line-height: 2em;
}
.btn-w{
    background: #25D366;
}
.btn:hover{
    line-height: 1.8em;
}
.btn-w:hover{
    color: #25D366;
    border: solid 2px #25D366;
}
#opac {
    background: var(--bg1);
    position: relative;
    animation: myfirst 0.07s linear 0.07s infinite alternate;
    /* Safari and Chrome: */
    -webkit-animation: myfirst 0.07s linear 0.07s infinite alternate;
}
.col-lg-12>.col-md-6>img{
    display: block;
    max-width: 100%;
    height: auto;
}
.foot{
    padding-top: 40px;
}
@keyframes myfirst {
    0% {
        background: var(--bg1)
    }
    25% {
        background: #045b9b
    }
    50% {
        background: var(--bg2)
    }
    75% {
        background: #67afe5
    }
    100% {
        background: #c1ddf2
    }
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

    {
    0% {
        background: var(--bg1)
    }
    25% {
        background: #045b9b
    }
    50% {
        background: var(--bg2)
    }
    75% {
        background: #67afe5
    }
    100% {
        background: #c1ddf2
    }
}

@media only screen and (max-width:415px){
    .number-con {
        padding-left: unset;
        padding-right: unset;
    }
}
@media only screen and (max-width:769px){
    .sec{
        padding-top: 100px;
    }
    .foot{
        margin-bottom:50px;
    }
}
@media only screen and (max-width:992px) {
    header {
        height: unset;
        max-height: 80px;
        overflow: hidden;
        padding: 0;
    }
    header #header-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }
    header, header #header-menu {
        transition: max-height, opacity;
        transition-duration: .5s;
    }
    header:focus-within {
        max-height: 50vh;
    }
    header #header-menu:focus {
        pointer-events: none;
        outline: none;
        opacity: .7;
    }
    header ul, header>* {
        display: flex !important;
        flex-direction: column !important;
    }
    header img, header #header-menu {
        margin: 13px;
    }
    header img{
        margin-left: -60px;
    }
    .head-bottom {
        display: block !important;
        position: fixed;
        right: 0;
        overflow: hidden;
    }
    .footer-bottom{
        display: block !important;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .profile2 img {
        width: 150px;
        height: 150px;
    }
    .profile2 p{
        font-size:12px;
    }
}
@media only screen and (max-width:321){
    header img{
        margin-left: -10px;
        width: 10px;
        height: 50px
    }
}