header {
    position: fixed;
    background: rgba(51, 51, 51, .8);
    width: 100vw;
    height: 100px;
    box-shadow: var(--box-shadow);
    z-index: 4;
}

header>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0
}

header img {
    width: 280px;
    height: 50px
}

header i {
    font-size: 50px
}

header a {
    color: white
}

header a:hover {
    color: white;
    text-decoration: none
}

header a:focus {
    color: white;
    text-decoration: none
}

header a:active {
    color: white;
    text-decoration: none
}

header a:visited {
    color: white;
    text-decoration: none
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none
}

header ul>li {
    margin: 0 8px;
    font-weight: 550;
}

header {
    font-size: 16px
}

header #header-menu {
    display: none
}

.back {
    background: url(Slider-BG.jpg) top center;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1
}
.mg-h>p {
    font-size: 18px;
}
body>content {
    display: block;
    grid-area: content;
    padding-top: 150px;
    padding-bottom: 10px;
    width: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

input:not([type=button]):not([type=submit]) {
    background-color: rgb(243, 241, 241);
    width: 100%;
    height: 75px;
    padding: 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 20px 20px;
    font-family: "Font Awesome 5 Free";
    text-indent: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all;
    box-shadow: 2px 2px 2px rgb(243, 241, 241);
}

input[type=text] {
    background-image: url('/Images/user-alt-solid.svg');
}

input[type=number] {
    background-image: url('/Images/mobile-alt-solid.svg');
}

input:not([type=button]):not([type=submit]):focus {
    outline: none;
    background-color: white;
    box-shadow: unset;
}

input[type=submit] {
    width: 100%;
    height: 75px;
    margin-top: 12px;
    color: rgb(243, 241, 241);
    font-size: 15px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    font-weight: 550;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input:not([type=button]):not([type=submit])::before {
    transition-duration: 0.5;
}

input:not([type=button]):not([type=submit]):focus {
    background-image: none;
    text-indent: unset;
    transition-duration: 0.5s;
}

input[type=submit]:hover {
    background: rgb(243, 241, 241);
    border: 2px solid #333;
    color: #333;
    background-image: none;
}
.mid, .mid-2, .mid-4{
    margin-top: 50px
}
.mid div{
    min-height: 400px;
}
.mid-2 div{
    min-height: 760px;
}
.mid div, .mid-2 div {
    background: white;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.75);
}
.mid>div i,.mid-2>div i {
    transform: scale(8);
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
    -o-transform: scale(8);
}
.mid-2>div h4{
    margin-top: 10px;
    color: #005696;
}
.mid>div p {
    font-size: 25px;
    padding-top: 80px;
    color: #005696;
}
.mid-2 img{
    margin-top: -70px;
    width: 100%;
}
.btn {
    background-color: #005696;
    color: white;
    width: 210px;
    height: 65px;
    font-size: 18px;
}

.btn:hover {
    background: white;
    border: 2px solid #005696;
    color: #005696;
}

.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:5;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content{
    position: relative;
    margin: auto;
    margin-top:-50px;
    padding: 10px;
    width: 60%;
    animation-name: modal-anim;
    animation-duration: 0.5s;
    -webkit-animation-name: modal-anim;
    -webkit-animation-duration: 0.5s;
}
@keyframes modal-anim{
    from{top:-300px; opacity: 0}
    to{top:0; opacity:1}
}
@-webkit-keyframes modal-anim{
    from{top:-300px; opacity: 0}
    to{top:0; opacity:1}
}

.modal-content{
    padding-bottom:50px;
}
.modal-content>*{
    text-align: center
}
.modal-content h3{
    margin-top: 50px;
}
.modal-content> p h3{
    color: #555555
}
.modal-content input:not([type=button]):not([type=submit]){
    width: 70%;
    height: 20px;
    background-image: unset;
    text-indent: 20px;
    transition: all;
}
.modal-content input[type=submit]{
    width: 70%;
    color:white;
    border: 2px solid #005696;
    background-color: #005696;
}
.modal-content input[type=submit]:hover {
    background:white;
    color: #005696;
    
}
textarea{
    width: 70%;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgb(243, 241, 241);
}
.modal-content input:not([type=button]):not([type=submit])::before {
    transition-duration: 0.5;
}

.modal-content input:not([type=button]):not([type=submit]):focus {
    background-image: none;
    text-indent: unset;
    transition-duration: 0.5s;
}
.close {
    font-size: 50px;
    margin-right:10px;
}
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.mid-4{
    background: white;
}
.col-sm-12{
    padding: 0
}
.collapsible{
    width: 100%;
    background: white;
    color: #005696;
    font-size: 20px;
    font-weight: 550;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
}
.collapsible>i{
    float: right;
    transition-duration: 0.3s;
    transition-property: transform; 
}
.col-b{
    display: none;
    padding: 10px;
}
@media only screen and (max-width:992px) {
    header {
        height: unset;
        max-height: 80px;
        overflow: hidden;
        padding: unset;
        padding: 3px
    }
    header #header-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0
    }
    header, header #header-menu {
        transition: max-height, opacity;
        transition-duration: .5s;
    }
    header:focus-within {
        max-height: 50vh
    }
    header #header-menu:focus {
        pointer-events: none;
        outline: none;
        opacity: .7
    }
    header ul, header>* {
        display: flex!important;
        flex-direction: column!important
    }
    header img, header #header-menu {
        margin: 13px
    }
    header img {
        margin-left: -45px;
    }
    .mg-h {
        margin-top: -50px;
    }
}

@media only screen and (max-width:320px) {
    header img {
        height: 50px;
        width: 233px;
        margin-left: -45px;
    }
    .mg-h>h1 {
        font-size: 33px;
    }
}
@media only screen and (min-width:320px) and (max-width: 767px) and (orientation: portrait){
 .mid-2 div{min-height: 650px}
}
@media only screen and (min-width:320px) and (max-width: 1025px) and (orientation: portrait){
    .back {
        background: url(/Images/Slider-BG2.jpg) top center;
        background-size: cover;
    }
    .modal-content{
        width: 100%;
    }
    .modal-content input:not([type=button]):not([type=submit]), .modal-content input[type=submit],textarea{
        width: 90%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 955px) and (orientation: portrait) {
    .mg-h3{
        width: 0px;
    }
    .mg-h,.mg-h2{
        width: 45%;
    }
    .mg-h>h1 {
        font-size: 33px;
        padding-top: 50px;
    }
    .mg-h>h3 {
        font-size: 22px;
    }
    .mg-h>p {
        font-size: 17px;
    }
    .mid-2 img{
        height: 23%
    }
    .mid-2 h4{
        font-size: 22px;
    }
    .mid-2 p{
        font-size: 15px;
    }
    .modal-content{
        width: 90%
    }
    .modal-content input:not([type=button]):not([type=submit]), .modal-content input[type=submit],textarea{
        width: 70%;
    }
}

@media only screen and (min-width: 956px) and (max-width: 1024px) and (orientation: portrait) {
    .mg-h3{
        width: 0px;
    }
    .mg-h,.mg-h2{
        width: 47%;
    }
    .mg-h>h1 {
        margin-top: -5px;
        font-size: 40px;
    }
    .mg-h>h3 {
        font-size: 32px;
    }
    .mg-h>p {
        font-size: 21px;
    }
    .mid-2 img{
        height: 23%
    }
    .mid-2 h4{
        font-size: 22px;
    }
    .mid-2 p{
        font-size: 15px;
    }
    .modal-content{
        width: 75%
    }
    .modal-content input:not([type=button]):not([type=submit]), .modal-content input[type=submit],textarea{
        width: 70%;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait){
    .mid-2 h4{
        font-size: 30px;
    }
    .modal-content{
        width: 85%
    }
    .modal-content input:not([type=button]):not([type=submit]), .modal-content input[type=submit],textarea{
        width: 70%;
    }
}